/* Hentning af Fonte */
@font-face {
    font-family: "zcool";
    src: url("/fonte/ZCOOLQingKeHuangYou-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "chivo-light";
    src: url("/fonte/Chivo-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ------
  Resets / normalize
------ */

html {
    background-color: #FAEEFF;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4,
a,
label {
    font-family: "zcool";
}

h1,
h2,
h3,
h4 {
    color: #C5117D;
}


p {
    font-family: "chivo-light";
    color: #400027;
}