---
import Welcome from "../components/Welcome.astro";
import Events from "../components/Events.astro";
import Photocard from "../components/Photocard.astro";
import ForsideBox from "../components/ForsideBox.astro";
import Playbox from "../components/Playbox.astro";
import "../global_css/style.css";
import Pas from "../components/Pas.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Countdown from "../components/Countdown.astro";
import Nav from "../components/Nav.astro";
const data = await fetch("https://hfzwehhezytcplfrjivm.supabase.co/rest/v1/thekorner1", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhmendlaGhlenl0Y3BsZnJqaXZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDEzMzY3MjUsImV4cCI6MjAxNjkxMjcyNX0.62QPSzQ6gHyGM48Bk57sSp6VhZpjcycVkZu9aY1QPro",
  },
}).then((res) => res.json());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Nav />

    <Welcome />

    <Events />

    <Photocard />
    <Sale />
    <ForsideBox />

    <Countdown />

    {
      data.map((show) => {
        return <Pas data={show} />;
      })
    }
    <h1>Astro</h1>
    <footer>
      <div class="foot">
        <svg version="1.1" id="Lag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1980" style="enable-background:new 0 0 1920 1980;" xml:space="preserve">
          <style type="text/css">
            .st0 {
              fill: #f6c5d8;
              stroke: #c5117d;
              stroke-width: 3;
              stroke-miterlimit: 10;
            }
          </style>
          <path class="st0" d="M0,1419.3c98.8-75.1,248-157.7,413-137c136.8,17.2,250.4,76.8,383,122c232.7,79.3,394,10,493-29
	c141.9-55.9,170.5-113.9,305-150 c123.4-33.1,256.6,5,326,40V1980H0V1419.3z"></path>
        </svg>

        <div class="footergrid">
          <div class="footerboks">
            <h4>VISIT OUR PHYSICAL STORE</h4>
            <p>TheKorner - Studiestræde 12<br />1455 København K</p>
          </div>
          <div class="footerboks">
            <h4>OPENING HOURS</h4>
            <p>Monday - Friday: 13.00 - 17.00 <br />Saturday: 12.00 - 18.00<br />Sunday: CLOSED</p>
          </div>
          <div class="footerboks">
            <h4>FOLLOW US ONLINE</h4>
            <p class="pabout">Follow our socials to keep updated on the latest products, events, packing videos & much more!</p>
          </div>
          <div class="footerboks">
            <h4>OTHER</h4>
            <p class="pabout">About <br />Privacy Policy <br />Terms & Conditions <br />Shipping method<br />Recycle your kpop</p>
          </div>
        </div>
      </div>

      <style>
        .foot {
          margin-top: 400px;
          position: relative;
        }
        .foot svg {
          position: absolute;
          bottom: 0;
          z-index: -1;
          width: 100%;
          height: auto;
        }
        h4 {
          margin-bottom: 25px;
          font-weight: 800;
          font-size: larger;
        }

        .footergrid {
          z-index: 10;

          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          margin-left: 150px;
        }
        .footerboks {
          margin-right: 80px;
          margin-top: 0px;
          margin-bottom: 70px;
        }
        p {
          line-height: 45px;
        }
        @media only screen and (min-width: 1024px) {
          .foot {
            margin-top: 400px;
            position: relative;
          }
          .footer svg {
            position: absolute;
            bottom: 0;
            z-index: -1;
            width: 100%;
            height: auto;
          }
          h4 {
            margin-bottom: 25px;
            font-weight: 800;
            font-size: larger;
          }

          .footergrid {
            z-index: 10;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-left: 150px;
          }
          .footerboks {
            margin-right: 80px;
            margin-top: 0px;
            margin-bottom: 70px;
          }
          p {
            line-height: 45px;
          }
        }
      </style>
    </footer>
  </body>
</html>
