---
import Welcome from "../components/Welcome.astro";
import Events from "../components/Events.astro";
import Photocard from "../components/Photocard.astro";
import ForsideBox from "../components/ForsideBox.astro";
import Playbox from "../components/Playbox.astro";
import "../global_css/style.css";
import Pas from "../components/Pas.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Sale from "../components/Sale.astro";
import Footert from "../components/Footert.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Nav />
    <Welcome />

    <Events />

    <Photocard />
    <Sale />
    <ForsideBox />

    <Footer />
  </body>
</html>
