---
import "../global_css/style.css";
import BigBoxListe from "../components/BigBoxListe.astro";
import ListeBox from "../components/ListeBox.astro";
import Search from "../components/Search.astro";
import Knap from "../components/Knap.astro";
import ListeText from "../components/ListeText.astro";
import Nav from "../components/Nav.astro";
import Tal from "../components/Tal.astro";
("../components/ListeBox.astro");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Nav />
    <BigBoxListe />
    <ListeText />
    <Search />
    <Knap />
    <ListeBox />
    <Tal />
  </body>
  <style></style>
</html>
