

<div class="readmore">
<p class="preadmore">Read more</p>
</div>


<style>
.readmore{
    width: 100px;
    height: 100px;
    color:blueviolet
}

.preadmore{
    border-color: rgb(48, 1, 48);
    color: white;
}
</style>