<body>
  <div>
    <div class="shape"></div>
    <div class="footer">
      <div class="footergrid">
        <div class="footerboks">
          <h4>VISIT US</h4>
          <p>TheKorner - Studiestræde 12<br />1455 København K</p>
        </div>
        <div class="footerboks">
          <h4>OPENING HOURS</h4>
          <p>Monday - Friday: 13.00 - 17.00 <br />Saturday: 12.00 - 18.00<br />Sunday: CLOSED</p>
        </div>
        <div class="footerboks">
          <h4>FOLLOW US ONLINE</h4>
          <p class="pabout">Follow our socials to keep updated on the latest products, events, packing videos & much more!</p>

          <div class="gridsocials">
            <div>
              <a href="https://www.instagram.com/thekorner_dk/">
                <img class="insta" src="../img/ig.png" alt="instagram" />
              </a>
            </div>
            <div>
              <a href="https://www.facebook.com/thekornerdk">
                <img class="face" src="../img/fb.png" alt="facebook" />
              </a>
            </div>
            <div>
              <a href="https://www.tiktok.com/@thekornerdk">
                <img class="tik" src="../img/tt.png" alt="tiktok" />
              </a>
            </div>
          </div>
        </div>
        <div class="footerboks">
          <h4>OTHER</h4>
          <p class="pabout">About <br />Privacy Policy <br />Terms & Conditions <br />Shipping method<br />Recycle your kpop</p>
        </div>
      </div>
    </div>

    <svg width="0" height="0" viewBox="0 0 895 484">
      <clipPath id="clippy" clipPathUnits="objectBoundingBox" transform="scale(0.0006944444444444445, 0.01020408163265306)">
        <path d="M1687 97.9999L1687 39.0679C1352.91 90.8285 1198.81 74.785 798.396 16.7413C478.569 -29.6209 157.38 32.4763 5.12668e-05 56.5817L0 97.9998L1687 97.9999Z" fill="#46C8F5"></path>
      </clipPath>
    </svg>
  </div>
</body>

<style>
  /* MOBILE */
  .footer {
    height: 120%;
    position: relative;
    background: #ffbad3;
    margin: 0;
  }

  .shape {
    position: relative;
    top: 1px;

    padding-bottom: 40.8%;
    background: #ffbad3;
    clip-path: url("#clippy");
    margin-top: 50px;
  }

  h4 {
    margin-bottom: 25px;
    font-size: 18px;
    white-space: nowrap;
  }

  .footergrid {
    z-index: 10;

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0px;
    margin-bottom: -24px;
  }

  .insta {
    width: 45px;
    height: 45px;
  }

  .face {
    width: 45px;
    height: 45px;
  }
  .tik {
    width: 45px;
    height: 45px;
  }
  .gridsocials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
  }
  .footerboks {
    margin-top: 0px;
    margin-bottom: 70px;
    margin-right: 0px;
    height: 112px;
    width: 169px;
    margin-left: 13px;
  }
  p {
    line-height: 25px;
    font-size: 10px;
  }

  /* TABLET */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
      width: 104%;
      height: 100%;
      position: relative;
      background: #ffbad3;
      margin: 0;
    }

    .shape {
      position: relative;
      top: 1px;
      width: 104%;
      padding-bottom: 40.8%;
      background: #ffbad3;
      clip-path: url("#clippy");
      margin-top: 50px;
    }

    h4 {
      margin-bottom: 25px;
      font-size: 30px;
    }

    .footergrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 20px;
      margin-right: 10px;
      padding-bottom: 18px;
      margin-bottom: -24px;
      column-gap: 5%;
    }

    .footerboks {
      margin-top: 0px;
      margin-bottom: 70px;
      margin-right: 100px;
      height: 250px;
      margin-left: 100px;
    }
    p {
      line-height: 35px;
      font-size: 15px;
    }

    .insta {
      width: 80px;
      height: 80px;
    }

    .face {
      width: 80px;
      height: 80px;
    }
    .tik {
      width: 80px;
      height: 80px;
    }
    .gridsocials {
      padding-bottom: 40px;
    }
  }

  /* WEB */
  @media only screen and (min-width: 1024px) {
    .footer {
      width: 100%;
      height: 120%;
      position: relative;
      background: #ffbad3;
      margin: 0;
    }
    .insta {
      width: 50px;
      height: 50px;
    }

    .face {
      width: 50px;
      height: 50px;
    }
    .tik {
      width: 50px;
      height: 50px;
    }
    .gridsocials {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .shape {
      position: relative;
      top: 41px;

      width: 100%;
      padding-bottom: 13.5%;
      background: #ffbad3;
      clip-path: url("#clippy");
      margin-top: 50px;
      z-index: 100;
    }

    h4 {
      margin-bottom: 25px;
      font-weight: 800;
      font-size: larger;
    }

    .footergrid {
      z-index: 10;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 40px;
      margin-left: 100px;
      margin-right: 100px;
      padding-bottom: 100px;
    }
    .footerboks {
      margin-right: 70px;
      margin-top: 10px;
      margin-bottom: 70px;
      height: 250px;
      width: 250px;
      margin-left: 20px;
    }
    p {
      line-height: 45px;
    }
  }
</style>
