<div class="overall">
  <div class="box boxig">
    <h2>Instagram</h2>
    <div class="grid-item">
      <div class="grid-circle">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
      </div>
    </div>
    <div class="inner-box">
      <a href="https://www.instagram.com/thekorner_dk/">
        <img class="insta" src="../public/img/ig.png" alt="instagram" />
      </a>
    </div>
  </div>

  <div class="box boxface">
    <h2>Facebook</h2>
    <div class="grid-item">
      <div class="grid-circle">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
      </div>
    </div>
    <div class="inner-box">
      <a href="https://www.facebook.com/thekornerdk">
        <img class="face" src="../public/img/fb.png" alt="facebook" />
      </a>
    </div>
  </div>

  <div class="box boxtiktok">
    <h2>Tiktok</h2>
    <div class="grid-item">
      <div class="grid-circle">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
      </div>
    </div>
    <div class="inner-box">
      <a href="https://www.facebook.com/thekornerdk">
        <img class="face" src="../public/img/tt.png" alt="facebook" />
      </a>
    </div>
  </div>
</div>

<style>
  /* MOBILE */

  .overall {
    display: flex;
    gap: 32px;
    padding: 7px;
    padding-left: 7px;
    margin-top: -9%;
    padding-left: 2%;
  }

  .box {
    position: relative;
    width: 251px;
    height: 197px;
    border: 4px solid #c5117d;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
  }

  .boxig {
    background-color: #f9fac2;
  }

  .boxface {
    background-color: #c2dcfa;
  }

  .boxtiktok {
    background-color: #fac2c9;
  }

  .inner-box {
    width: 113%;
    height: 86%;
    margin-top: -82px;
    background-color: #fff;
    border-radius: 51px;
    border: 4px solid #c5117d;
    margin-left: -6%;
  }

  .box img {
    position: absolute;
    top: 69px;
    left: 85px;
    width: 33%;
    height: auto;
    object-fit: cover;
  }
  h2 {
    margin-top: -6%;
    margin-left: 4%;
  }

  .grid-circle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    margin-right: -132px;
    margin-top: -49px;
    margin-bottom: 6px;
  }

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #c5117d;
  }

  .circle1 {
    background-color: #b1fef5;
  }

  .circle2 {
    background-color: #c8ffa7;
  }

  .circle3 {
    background-color: #ff6f9c;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    text-align: center;
    border-radius: 21%;
    margin-bottom: 32px;
    padding-top: 30px;
    padding-bottom: 16%;
  }

  /* TABLET */

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .overall {
      display: flex;
      gap: 104px;
      margin-top: 33px;
    }

    .box {
      position: relative;
      width: 538px;
      height: 432px;
      border: 6px solid #c5117d;
      padding: 41px;
      margin: 20px;
      border-radius: 50px;
      margin-left: 2%;
    }

    .box img {
      position: absolute;
      top: 130px;
      left: 160px;
      width: 40%;
      height: auto;
      object-fit: cover;
    }

    h2 {
      font-size: 363%;
      margin-top: -6%;
      margin-left: -1%;
    }

    .circle {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid #c5117d;
    }

    .grid-circle {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3px;
      margin-right: -383px;
      margin-top: -71px;
      margin-bottom: 6px;
    }

    .inner-box {
      width: 110%;
      height: 91%;
      margin-top: -120px;
      background-color: #fff;
      border-radius: 51px;
      border: 6px solid #c5117d;
      margin-left: -5%;
    }

    .boxig {
      background-color: #f9fac2;
    }

    .boxface {
      background-color: #c2dcfa;
    }

    .boxtiktok {
      background-color: #fac2c9;
    }
  }

  /* WEB */
  @media only screen and (min-width: 1024px) {
    .overall {
      display: grid;
      gap: 1px;
      padding: 210px;
      padding-left: 210px;
      padding-left: 210px;
      padding-left: 7px;
      margin-top: -55%;
      padding-left: 1%;
      margin-left: 672px;
      grid-template-columns: repeat(3, 1fr);
    }

    .box {
      position: relative;
      width: 210px;
      height: 213px;
      border: 4px solid #c5117d;
      padding: 41px;
      margin: 20px;
      border-radius: 50px;
    }

    .box img {
      position: absolute;
      top: 76px;
      left: 60px;
      width: 41%;
      height: auto;
      object-fit: cover;
    }

    h2 {
      font-size: 149%;
    }

    h2 {
      margin-top: -27%;
      margin-left: -16%;
    }

    .circle {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #c5117d;
    }

    .grid-circle {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3px;
      margin-right: -122px;
      margin-top: -47px;
      margin-bottom: 6px;
    }

    .inner-box {
      width: 148%;
      height: 117%;
      margin-top: -82px;
      background-color: #fff;
      border-radius: 37px;
      border: 4px solid #c5117d;
      margin-left: -24%;
      margin-top: -55%;
    }

    .boxig {
      background-color: #f9fac2;
    }

    .boxface {
      background-color: #c2dcfa;
    }

    .boxtiktok {
      background-color: #fac2c9;
    }
  }
</style>
