<div class="grid-container">
  <div class="grid-item">
    <div class="grid-circle">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
    </div>
    <img src="../public/img/BTS.webp" class="img" alt="BTS" />
    <p class="kr">80 kr.</p>
    <p>BTS</p>
  </div>

  <div class="grid-item">
    <div class="grid-circle">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
    </div>
    <img src="../public/img/BTS.webp" class="img" alt="BTS" />
    <p class="kr">80 kr.</p>
    <p class="kr">BTS</p>
  </div>

  <div class="grid-item">
    <div class="grid-circle">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
    </div>
    <img src="../public/img/seventeen.webp" class="img" alt="SEVENTEEN" />
    <p class="kr">80 kr.</p>
    <p>SEVENTEEN</p>
  </div>

  <div class="grid-item">
    <div class="grid-circle">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
    </div>
    <img src="../public/img/ATEEZ.webp" class="img" alt="ATEEZ" />
    <p class="kr">80 kr.</p>
    <p>ATEEZ</p>
  </div>

  <div class="grid-item">
    <div class="grid-circle">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
    </div>
    <img src="../public/img/itzy.webp" class="img" alt="ITZY" />
    <p class="kr">80 kr.</p>
    <p>ITZY</p>
  </div>

  <div class="grid-item">
    <div class="grid-circle">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
    </div>
    <img src="../public/img/twice.webp" class="img" alt="TWICE" />
    <p class="kr">80 kr.</p>
    <p>TWICE</p>
  </div>
</div>

<!-- MOBILE -->

<style>
  /* <!-- CIRCLE --> */

  .grid-circle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px; /* Adjust the gap as needed */
    margin-right: -72px;
    margin-top: -22px;
    margin-bottom: 6px;
  }

  .circle[data-astro-cid-tchsbqrq] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #c5117d;
  }

  .circle1 {
    background-color: #b1fef5; /* Color for the first circle */
  }

  .circle2 {
    background-color: #c8ffa7; /* Color for the second circle */
  }

  .circle3 {
    background-color: #ff6f9c; /* Color for the third circle */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
    grid-gap: 10px; /* Adjust the gap between grid items */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 8% 4px;
    padding-left: 4%;
  }

  .grid-item[data-astro-cid-tchsbqrq] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #c5117d;
    padding: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border-radius: 21%;
    margin-bottom: 52px;
    padding-top: 30px;
    padding-bottom: 26%;
  }

  .grid-item:nth-child(5n + 1),
  .grid-item:nth-child(5n + 2) {
    background-color: #fac2c9;
  }

  .grid-item:nth-child(5n + 3),
  .grid-item:nth-child(5n + 4) {
    background-color: #d4c2fa;
  }

  .grid-item:nth-child(5n + 5) {
    background-color: #f9fac2;
  }

  .grid-item:nth-child(5n + 6) {
    background-color: #d4fac2;
  }

  .grid-item:nth-child(5n + 7) {
    background-color: #c2dcfa;
  }

  .img {
    width: 108%;
    height: 107px;
    object-fit: cover;
    border-radius: 24%;
    border: 3px solid #c5117d;
  }

  .grid-item[data-astro-cid-tchsbqrq] p[data-astro-cid-tchsbqrq] {
    margin: 35px 12px -73px;
  }

  .kr[data-astro-cid-tchsbqrq] p[data-astro-cid-tchsbqrq] {
    margin: 46px 22px -75px;
  }

  /* TABLET */

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Simplified selector */
    .grid-item[data-astro-cid-tchsbqrq] {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 3px solid #c5117d;
      padding: 26px 2% 20%;
      text-align: center;
      border-radius: 21%;
      margin-bottom: 62px;
    }

    .img[data-astro-cid-tchsbqrq] {
      width: 100%; /* Adjusted width */
      height: 145px;
      object-fit: cover;
      border-radius: 24%;
      border: 3px solid #c5117d;
    }

    .grid-container[data-astro-cid-tchsbqrq] {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 37px;
      padding: 0px 19%;
      padding-right: 19%;
      padding-left: 19%;
      margin-top: -123%;
      padding-right: 0%;
      padding-left: 44%;
    }

    .grid-circle[data-astro-cid-tchsbqrq] {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3px;
      margin-right: -119px;
      margin-top: -20px;
      margin-bottom: 6px;
    }
  }
</style>
