<div class="textbox">
  <p class="text">Find great Kpop items for your collection in our Kpop Corner! Everything from postcards, albums, masks, pens, key-rings to stickers & much more. <br /> We ship to most of EU from Denmark</p>
</div>

<style>
  /* MOBILE  */

  .textbox {
    border: 4px dashed #c5117d65;
    border-radius: 30px;
    margin-top: 12%;
    margin-bottom: 12%;
    margin-right: 3%;
    margin-left: 6%;
  }

  .text[data-astro-cid-bwhmclhu] {
    width: 107%;
    line-height: 30px;
    padding: 8%;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  /* TABLET */

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .textbox[data-astro-cid-bwhmclhu][data-astro-cid-bwhmclhu] {
      border: 4px dashed #c5117d65;
      border-radius: 30px;
      margin-top: 7%;
      margin-bottom: 12%;
      margin-right: 0%;
      margin-left: 38%;
    }
  }

  /* WEB */

  @media only screen and (min-width: 1024px) {
    .text[data-astro-cid-bwhmclhu][data-astro-cid-bwhmclhu] {
      width: 100%;
      line-height: 38px;
      padding: 3%;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-top: 8%;
      padding-bottom: 8%;
      padding-top: 3%;
      padding-bottom: 3%;
    }

    .textbox[data-astro-cid-bwhmclhu][data-astro-cid-bwhmclhu][data-astro-cid-bwhmclhu] {
      border: 4px dashed #c5117d65;
      border-radius: 30px;
      margin-top: 7%;
      margin-bottom: -5%;
      margin-right: 3%;
      margin-left: 38%;
    }
  }
</style>
