---
const { data } = Astro.props;
---

<a href={`/shows/${data.slug}`}>
  <div class="box">
    <div class="grid-circle">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
    </div>
    <img src={data.img1} alt="" />
  </div>
  <p class="price">{data.price} DKK</p>
  <p class="name">{data.name}</p>
</a>

<style>
  .box {
    background-color: aqua;
    width: 170px;
    height: 190px;
    border: 3px solid #c5117d;
    border-radius: 20%;
  }
  a {
    margin: 20px 10px;
  }
  img {
    border: 3px solid #c5117d;
    width: 150px;
    height: 140px;
    margin: 0 0 0 8px;
    border-radius: 20%;
  }
  a {
    text-decoration: none;
  }
  p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "zcool";
  }

  .name {
    text-decoration: underline;
  }
  .price {
    color: #c5117d;
  }

  .grid-circle {
    display: flex;
    column-gap: 3px;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    justify-content: flex-end;
    margin: 10px 15px;
    grid-column: 2;
  }

  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #c5117d;
  }

  .circle1 {
    background-color: #b1fef5; /* Color for the first circle */
  }

  .circle2 {
    background-color: #c8ffa7; /* Color for the second circle */
  }

  .circle3 {
    background-color: #ff6f9c; /* Color for the third circle */
  }
  /* tabet */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  }
</style>
