<div class="grid-container">

   <div class="grid-item">
        <img src="../public/img/BTS.webp" class="img" alt="BTS">
        <p>BTS</p>
    </div>

     <div class="grid-item black">
        <img src="../public/img/BLACKPINK.webp" class="img" alt="BLACK PINK">
        <p>BLACK PINK</p>
    </div>

    <div class="grid-item">
        <img src="../public/img/seventeen.webp" class="img" alt="SEVENTEEN">
        <p>SEVENTEEN</p>
    </div>

    <div class="grid-item">
        <img src="../public/img/ATEEZ.webp" class="img" alt="ATEEZ">
        <p>ATEEZ</p>
    </div>

    <div class="grid-item">
        <img src="../public/img/itzy.webp" class="img" alt="ITZY">
        <p>ITZY</p>
    </div>

    <div class="grid-item">
        <img src="../public/img/twice.webp" class="img" alt="TWICE">
        <p>TWICE</p>
    </div>

    <div class="grid-item">
        <img src="../public/img/ENHYPEN.webp" class="img" alt="ENHYPEN">
        <p>ENHYPEN</p>
    </div>

    <div class="grid-item">
        <img src="../public/img/TXT.webp" class="img" alt="TXT">
        <p>TXT</p>
    </div>

    <div class="grid-item">
        <img src="../public/img/straykids.webp" class="img" alt="STRAY KIDZ">
        <p>STRAY KIDS</p>
    </div>

    <div class="grid-item">
        <img src="../public/img/NCT.webp" class="img" alt="NCT">
        <p>NCT</p>
    </div>

    <div class="grid-item">
        <img src="../public/img/NewJeans.webp" class="img" alt="NEW JEANS">
        <p>NEW JEANS</p>
    </div>

    <div class="grid-item">
        <img src="../public/img/MonstaX.webp" class="img" alt="MONSTA X">
        <p>MONSTA X</p>
    </div>

</div>

<style>

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
  grid-gap: 10px; /* Adjust the gap between grid items */
}

.grid-container {
 display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  padding: 8% 4px;
}

.grid-item {
 display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #C5117D;
  padding: 12px;
  text-align: center;
  border-radius: 21%;
  margin-bottom: 32px;
  padding-top: 30px;
  padding-bottom: 16%;
  
}

    .grid-item:nth-child(5n+1),
    .grid-item:nth-child(5n+2) {
        background-color: #FAC2C9;
    }

    .grid-item:nth-child(5n+3),
    .grid-item:nth-child(5n+4) {
        background-color: #D4C2FA;
    }

    .grid-item:nth-child(5n+5) {
        background-color: #F9FAC2;
    }

    .grid-item:nth-child(5n+6) {
        background-color: #D4FAC2;
    }

    .grid-item:nth-child(5n+7) {
        background-color: #C2DCFA;
    }

    .img {
 width: 108%;
  height: 107px;
  object-fit: cover;
  border-radius: 24%;
    border: 3px solid #C5117D;
    }

    .grid-item p {
  margin: 15px 22px -54px; /* Adjust the margin as needed */
}

.black {
        padding-bottom: 5%;
}

</style>