<header>
  <div class="logo">Your Logo</div>
  <nav>
    <ul class="nav-list">
      <li><a class="kpop" href="#">Kpop</a></li>
      <li><a class="groups" href="#">Groups</a></li>
      <li><a class="recycle" href="#">Recycle</a></li>
      <li><a class="artist" href="#">Artist</a></li>
      <li><a class="other" href="#">Other</a></li>
    </ul>
    <div class="burger-menu">&#9776;</div>
  </nav>
</header>

<style>
  /* MOBIL */
  header {
    background-color: #ffbad3;
    color: #c5117d;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -1%;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
    border: 4px #c5117d solid;
  }

  .logo {
    font-size: 24px;
  }

  nav {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Added to make the nav take up available space */
  }

  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    font-size: 134%;
    margin: 1%;
  }

  .nav-list li {
    margin-right: 55px;
  }
  .nav-list li > a {
    padding: 0 1.5em;
    color: #c5117d;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative; /* Ensure the relative positioning for absolute pseudo-element */
  }

  .nav-list li > a:hover::after {
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110%;
    border: 3px solid #c5117d;
    border-radius: 10px;
    margin-bottom: -12px;
  }

  .nav-list .kpop > a:hover::after {
    background-color: #fac2c9;
  }

  .nav-list .groups > a:hover::after {
    background-color: #c2dcfa;
  }

  .nav-list .recycle > a:hover::after {
    background-color: #d4fac2;
  }

  .nav-list .artist > a:hover::after {
    background-color: #f9fac2;
  }

  .nav-list .other > a:hover::after {
    background-color: #d4c2fa;
  }

  .burger-menu {
    font-size: 48px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 3px;
    right: 46px;
  }

  /* DESKTOP */
  @media only screen and (min-width: 1024px) {
    nav .nav-menu {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 0;
      font-size: 1.5rem;
    }

    nav .nav-item > a {
      padding: 0 1.5em;
      color: #c5117d;
      text-decoration: none;
      font-size: 1.5rem;
      position: relative;
    }

    .nav-item > a:hover::before,
    .nav-item.kpop > a:hover::before,
    .nav-item.groups > a:hover::before,
    .nav-item.recycle > a:hover::before,
    .nav-item.artist > a:hover::before,
    .nav-item.other > a:hover::before {
      content: "";
      display: block;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 90%;
      border-radius: 10px;
      margin-bottom: -12px;
    }

    .nav-item.kpop > a:hover::before {
      background-color: #fac2c9;
      border: 3px solid #c5117d;
    }

    .nav-item.groups > a:hover::before {
      background-color: #c2dcfa;
      border: 3px solid #c5117d;
    }

    .nav-item.recycle > a:hover::before {
      background-color: #d4fac2;
      border: 3px solid #c5117d;
    }

    .nav-item.artist > a:hover::before {
      background-color: #f9fac2;
      border: 3px solid #c5117d;
    }

    .nav-item.other > a:hover::before {
      background-color: #d4c2fa;
      border: 3px solid #c5117d;
    }

    nav .dropdown {
      position: relative;
    }

    nav .dropdown.show a::after {
      transform: rotate(180deg);
    }

    nav .dropdown.show .dropdown-menu {
      display: block;
    }

    nav .dropdown-item {
      display: block;
      padding: 0 1.5em;
      font-size: 0.875em;
      color: #000;
      line-height: 3;
      text-decoration: none;
    }

    .btn-hamburger {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const burgerMenu = document.querySelector(".burger-menu");
    const navList = document.querySelector(".nav-list");

    burgerMenu.addEventListener("click", function () {
      navList.classList.toggle("show");
    });
  });
</script>
