<nav>
  <div class="logo">
    <a href="/"> <img src="../img/logo1.png" alt="Logo" /></a>
  </div>

  <div class="logoalt">
    <a href="/"> <img src="../img/logoooo.png" alt="Logo" /></a>
  </div>
  <div class="menu-container">
    <button type="button" class="btn-hamburger" data-action="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="nav-menu">
      <li class="nav-item kpop dropdown dropbtn">
        <a href="/kpop/" data-action="dropdown-toggle">Kpop</a>
      </li>
      <li class="nav-item groups dropdown group">
        <a href="/groups/" data-action="dropdown-toggle">Groups</a>
      </li>
      <li class="nav-item recycle dropdown">
        <a href="/recycle/" data-action="dropdown-toggle">Recycle</a>
      </li>
      <li class="nav-item artist dropdown">
        <a href="/artist/" data-action="dropdown-toggle">Artist</a>
      </li>
      <li class="nav-item other dropdown">
        <a href="/other/" data-action="dropdown-toggle">Other</a>
      </li>
    </ul>
  </div>
</nav>
<style>
  nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 123px;
    background-color: #ffbad3;
    color: #c5117d;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -1%;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
    border: 4px #c5117d solid;
    z-index: 999;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    margin-top: 121px;
    margin-left: -85px;
    margin-right: 8%;
  }

  .logo img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .menu-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    flex-grow: 1;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .btn-hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    margin-right: 20px; /* Adjust as needed */
  }

  .nav-menu {
    display: flex;
    align-items: center;
  }

  .logoalt {
    display: none;
  }

  .nav-item > a {
    padding: 0 1.5em;
    color: #c5117d;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
  }

  .nav-item > a:hover::before {
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    border-radius: 10px;
    margin-bottom: -12px;
  }

  .nav-item.kpop > a:hover::before {
    background-color: #fac2c9;
    border: 3px solid #c5117d;
  }

  .nav-item.groups > a:hover::before {
    background-color: #c2dcfa;
    border: 3px solid #c5117d;
  }

  .nav-item.recycle > a:hover::before {
    background-color: #d4fac2;
    border: 3px solid #c5117d;
  }

  .nav-item.artist > a:hover::before {
    background-color: #f9fac2;
    border: 3px solid #c5117d;
  }

  .nav-item.other > a:hover::before {
    background-color: #d4c2fa;
    border: 3px solid #c5117d;
  }

  nav .dropdown {
    position: relative;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffbad3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: -1;
    border-radius: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 24px;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: #c5117d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    border-radius: 24px;
    text-decoration: underline;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  nav .dropdown.show a::after {
    transform: rotate(180deg);
  }

  nav .dropdown.show .dropdown-menu {
    display: block;
  }

  nav .btn-hamburger {
    display: none;
    position: absolute;
    right: 1.5em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    transform: translateY(-50%);
    z-index: 99999;
  }
  nav .btn-hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #c5117d;
    margin: 6px;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
  }
  nav .btn-hamburger span:nth-child(4),
  nav .btn-hamburger span:nth-child(5) {
    position: absolute;
    top: 10px;
    opacity: 0.5;
  }
  nav .btn-hamburger span:nth-child(4) {
    transform: rotate(45deg) scale(0);
  }
  nav .btn-hamburger span:nth-child(5) {
    transform: rotate(-45deg) scale(0);
  }
  nav.opened .btn-hamburger span:nth-child(4) {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  nav.opened .btn-hamburger span:nth-child(5) {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
  }
  nav.opened .btn-hamburger span:nth-child(1),
  nav.opened .btn-hamburger span:nth-child(2),
  nav.opened .btn-hamburger span:nth-child(3) {
    opacity: 0;
  }

  /* TABLET STYLING */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    nav .nav-menu {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffbad3;
      transition: bottom 0.5s ease-in-out;
      overflow: hidden;
      width: 100%;
      font-size: 1.5rem;
      z-index: 2;
    }

    nav.opened .nav-menu {
      bottom: 0;
    }

    nav .nav-item > a {
      display: block;
      text-align: right;
      margin-top: 96px;
      font-size: 2.5rem;
    }

    nav .nav-item > a:hover {
      color: #c5117d;
    }

    nav .btn-hamburger {
      display: block;
      margin-top: 30px;
    }

    .logoalt {
      display: flex;
      justify-content: center;
      width: 50%;
    }

    .logo img {
      display: none;
    }

    .nav-item > a:hover::before,
    .nav-item.kpop > a:hover::before,
    .nav-item.groups > a:hover::before,
    .nav-item.recycle > a:hover::before,
    .nav-item.artist > a:hover::before,
    .nav-item.other > a:hover::before {
      content: none;
    }
  }

  @media screen and (max-width: 768px) {
    nav .nav-menu {
      position: absolute;
      left: 0px;
      right: -6px;
      top: -41px;
      bottom: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffbad3;
      transition: bottom 0.5s ease-in-out;
      overflow: hidden;
      font-size: 1.5rem;
      z-index: 999;
    }

    nav.opened .nav-menu {
      bottom: 0;
      z-index: 2;
      height: 1000px;
    }

    nav .nav-item > a {
      display: block;
      text-align: right;
      margin-top: 96px;
      font-size: 4rem;
    }

    nav .nav-item > a:hover {
      color: #c5117d;
    }

    nav .btn-hamburger {
      display: block;
      margin-top: 50px;
    }

    .logoalt {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-right: 50%;
    }
    .logo {
      width: 1%;
      display: flex;
    }
    .nav-item > a:hover::before,
    .nav-item.kpop > a:hover::before,
    .nav-item.groups > a:hover::before,
    .nav-item.recycle > a:hover::before,
    .nav-item.artist > a:hover::before,
    .nav-item.other > a:hover::before {
      content: none;
    }

    .logo img {
      display: none;
    }
  }
</style>

<script>
  let nav = document.querySelector("nav");
  let dropdown = nav.querySelector(".dropdown");
  let dropdownToggle = nav.querySelector("[data-action='dropdown-toggle']");
  let navToggle = nav.querySelector("[data-action='nav-toggle']");

  dropdownToggle.addEventListener("click", () => {
    if (dropdown.classList.contains("show")) {
      dropdown.classList.remove("show");
    } else {
      dropdown.classList.add("show");
    }
  });

  navToggle.addEventListener("click", () => {
    if (nav.classList.contains("opened")) {
      nav.classList.remove("opened");
    } else {
      nav.classList.add("opened");
    }
  });
</script>
