<div class="kokasse">
  <div class="gridcircle1">
    <h4 class="sale">Sale</h4>
    <div class="gridcircle">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div>
  </div>
  <div class="kohvid">
    <img src="../../public/img/ko.png" class="ko" />
  </div>
</div>

<style>
  .sale {
    font-size: 250%;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .circle1 {
    height: 20px;
    width: 20px;
    background-color: #b1fef5;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .circle2 {
    height: 20px;
    width: 20px;
    background-color: #c8ffa7;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .circle3 {
    height: 20px;
    width: 20px;
    background-color: #ff6f9c;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .gridcircle {
    display: flex;
    gap: 5px;
    margin-top: 25px;
    margin-left: 90px;
    margin-bottom: 0;
  }
  .gridcircle1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
  .ko {
    height: 200px;
    width: 300px;
    margin-left: 20px;
    margin-top: 25px;
  }
  .kokasse {
    margin: 30px;
    height: 340px;
    width: 375px;
    background-color: #f9fac2;
    border-radius: 50px;
    border: solid 4px rgb(197, 17, 125);
  }
  .kohvid {
    margin-left: 8px;
    height: 260px;
    width: 350px;
    background-color: white;
    border-radius: 50px;
    border: solid 4px rgb(197, 17, 125);
  }
</style>
