<div class="kokasse">
  <div class="gridcircle1">
    <h4 class="sale">Sale</h4>
    <div class="gridcircle">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div>
  </div>
  <div class="kohvid">
    <img src="../../public/img/ko.png" class="ko" />
  </div>
</div>

<style>
  /* MOBILE */
  .sale {
    font-size: 250%;
    margin-left: -99px;
    margin-top: -17px;
    margin-bottom: 17px;
  }
  .circle1 {
    height: 23px;
    width: 23px;
    background-color: #b1fef5;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .circle2 {
    height: 23px;
    width: 23px;
    background-color: #c8ffa7;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .circle3 {
    height: 23px;
    width: 23px;
    background-color: #ff6f9c;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .gridcircle {
    display: flex;
    gap: 5px;
    margin-top: -2px;
    margin-left: 173px;
    margin-bottom: 0;
  }
  .gridcircle1 {
    display: flex;
    gap: 5px;
    margin-top: 26px;
    margin-left: 137px;
    margin-bottom: 0;
  }
  .ko {
    height: 190px;
    width: 290px;
    margin-left: 48px;
    margin-top: -6px;
  }
  .kokasse {
    height: 296px;
    width: 390px;
    background-color: #f9fac2;
    border-radius: 50px;
    border: solid 4px rgb(197, 17, 125);
    margin-top: -7%;
    margin-left: 12%;
  }
  .kohvid {
    margin-left: 14px;
    height: 208px;
    width: 356px;
    background-color: white;
    border-radius: 50px;
    border: solid 4px rgb(197, 17, 125);
  }
</style>
