<div class="kokasse">
  <div class="gridcircle1">
    <h4 class="sale">Sale</h4>
    <div class="gridcircle">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
    </div>
  </div>
  <div class="kohvid">
    <img src="../../img/ko.png" class="ko" />
  </div>
</div>

<style>
  /* MOBILE */
  .sale {
    font-size: 250%;
    margin-left: -99px;
    margin-top: -17px;
    margin-bottom: 17px;
  }
  .circle1 {
    height: 23px;
    width: 23px;
    background-color: #b1fef5;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .circle2 {
    height: 23px;
    width: 23px;
    background-color: #c8ffa7;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .circle3 {
    height: 23px;
    width: 23px;
    background-color: #ff6f9c;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .gridcircle {
    display: flex;
    gap: 5px;
    margin-top: -2px;
    margin-left: 173px;
    margin-bottom: 0;
  }
  .gridcircle1 {
    display: flex;
    gap: 5px;
    margin-top: 26px;
    margin-left: 137px;
    margin-bottom: 0;
  }
  .ko {
    height: 190px;
    width: 290px;
    margin-left: 48px;
    margin-top: -6px;
  }
  .kokasse {
    height: 296px;
    width: 390px;
    background-color: #f9fac2;
    border-radius: 50px;
    border: solid 4px rgb(197, 17, 125);
    margin-top: -7%;
    margin-left: 12%;
  }
  .kohvid {
    height: 208px;
    width: 356px;
    margin-left: 14px;
    background-color: white;
    border-radius: 50px;
    border: solid 4px rgb(197, 17, 125);
  }

  /* TABLET */

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .kokasse {
      height: 664px;
      width: 861px;
      background-color: #f9fac2;
      border-radius: 50px;
      border: solid 6px rgb(197, 17, 125);
      margin-top: -2%;
      margin-left: 128px;
    }

    .kohvid {
      margin-left: 22px;
      height: 523px;
      width: 808px;
      background-color: white;
      border-radius: 50px;
      border: solid 6px rgb(197, 17, 125);
      margin-top: 0%;
    }

    .sale {
      font-size: 363%;
      margin-left: -100px;
      margin-top: 3px;
      margin-bottom: 17px;
    }

    .ko {
      height: 450px;
      width: 633px;
      margin-left: 106px;
      margin-top: 23px;
    }

    .circle1,
    .circle2,
    .circle3 {
      height: 35px;
      width: 35px;
      border: solid 7px rgb(197, 17, 125);
    }

    .gridcircle {
      display: flex;
      gap: 5px;
      margin-top: 11px;
      margin-left: 575px;
      margin-bottom: 0;
    }
  }

  /* WEB */
  @media only screen and (min-width: 1024px) {
    .kokasse {
      height: 299px;
      width: 347px;
      background-color: #f9fac2;
      border-radius: 50px;
      border: solid 4px rgb(197, 17, 125);
      margin-top: -323px;
      margin-left: 104%;
    }

    .kohvid {
      height: 208px;
      width: 310px;
      margin-left: 14px;
      background-color: white;
      border-radius: 50px;
      border: solid 4px rgb(197, 17, 125);
    }

    .ko {
      height: 186px;
      width: 281px;
      margin-left: 13px;
      margin-top: -6px;
      transition: 0.5s;
    }
    .ko:hover {
      height: 200px;
      width: 300px;
      margin-left: 1px;
      margin-top: -6px;
      transition: 0.5s;
    }
    .gridcircle {
      display: flex;
      gap: 5px;
      margin-top: -5px;
      margin-left: 136px;
      margin-bottom: 0;
    }
    .circle1 {
      height: 22px;
      width: 22px;
      background-color: #b1fef5;
      border-radius: 100px;
      border: 4px solid rgb(197, 17, 125);
    }
    .circle2 {
      height: 23px;
      width: 22px;
      background-color: #c8ffa7;
      border-radius: 100px;
      border: 4px solid rgb(197, 17, 125);
    }
    .circle3 {
      height: 22px;
      width: 22px;
      background-color: #ff6f9c;
      border-radius: 100px;
      border: 4px solid rgb(197, 17, 125);
    }
    .imgpp {
      grid-column: 1;
      grid-row: 1 / 3;
      border-radius: 20px;
      margin: -1px 0 10px 30px;
      height: auto;
      width: 67%;
    }
  }
</style>
