<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">. . .</a>
  <a href="#">8</a>
  <a href="#">9</a>
  <a href="#">10</a>
  <a href="#">&raquo;</a>
</div>

<style>
  /* MOBILE */

  .pagination {
    display: inline-block;
    padding-left: 2%;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  /* TABLET */

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .pagination[data-astro-cid-h7ylirqv] {
      display: inline-block;
      padding-left: 50%;
      padding-top: 5%;
    }
  }

  /* WEB */
  @media only screen and (min-width: 1024px) {
    .pagination[data-astro-cid-h7ylirqv][data-astro-cid-h7ylirqv] {
      display: inline-block;
      padding-left: 54%;
      padding-top: 4%;
      padding-bottom: 3%;
      font-size: 121%;
    }
  }
</style>
