---
const { title, text } = Astro.props;
---

<div>
  <h3>{title}</h3>
  <slot />
</div>

<style>
  /* MOBIL STYLING */
  div {
    border: dashed 3px #e596cb;
    border-radius: 32px;
    padding: 38px 24px;
    margin: 52px 50px;
    text-align: left;
    transition: margin 0.3s ease;
  }

  h3 {
    font-size: 1.6em;
    color: #c5117d;
    margin-left: 1em;
    white-space: nowrap;
  }

  p {
    color: #400027;
    margin-left: 1.8em;
  }

  a {
    color: #63469e;
    margin-left: 1.8em;
  }

  /* TABLET STYLING */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    div {
      padding: 38px 84px;
      margin: 52px 190px;
    }
  }

  /* DESKTOP STYLING */
  @media only screen and (min-width: 1024px) {
    div {
      padding: 38px 84px;
      margin: 52px 190px;
    }

    h3 {
      font-size: 2em;
      margin-left: 1em;
    }

    p {
      margin-left: 2em;
    }

    a {
      margin-left: 2em;
    }
  }
</style>
