<div class="container">
  <h1>Welcome (づ ◕‿◕ )づ</h1>
  <div class="grid-circle">
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
  </div>
  <div class="gallery">
    <div class="imgbox">
      <h3>tbp</h3>
    </div>
    <div class="imgbox">
      <h3>tbp</h3>
    </div>
    <div class="imgbox">
      <h3>tbp</h3>
    </div>
    <div class="imgbox">
      <h3>tbp</h3>
    </div>
  </div>
</div>

<style>
  .container {
    width: 322px;
    height: 216px;
    background: linear-gradient(295deg, rgba(249, 250, 194, 1) 10%, rgba(212, 250, 194, 1) 17%, rgba(212, 194, 250, 1) 35%, rgba(250, 194, 201, 1) 46%, rgba(250, 194, 201, 1) 52%, rgba(227, 205, 221, 1) 66%, rgba(195, 222, 247, 1) 79%, rgba(212, 250, 194, 1) 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #c5117d;
    border-radius: 37px;
  }
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgbox {
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url();
    background-size: cover;
    background-position: center;
    position: relative;
    transition: wdith 0.5s;
  }

  .imgbox:nth-child(2) {
    background: url();
    background-size: cover;
    background-position: center;
  }

  .imgbox:nth-child(3) {
    background: url();
    background-size: cover;
    background-position: center;
  }

  .imgbox:nth-child(4) {
    background: url();
    background-size: cover;
    background-position: center;
  }

  .imgbox h3 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 30px;
  }

  .imgbox:hover {
    width: 300px;
    cursor: pointer;
  }

  h1 {
    position: absolute;
  }

  .grid-circle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    margin-left: 199px;
    margin-top: -39px;
    margin-bottom: 12px;
  }

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #c5117d;
  }

  .circle1 {
    background-color: #b1fef5; /* Color for the first circle */
  }

  .circle2 {
    background-color: #c8ffa7; /* Color for the second circle */
  }

  .circle3 {
    background-color: #ff6f9c; /* Color for the third circle */
  }
</style>
