<div class="container">
  <h1>Welcome (づ ◕‿◕ )づ</h1>
  <div class="grid-circle">
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
  </div>
  <div class="gallery">
    <div class="imgbox" style="    background-color: #9fd7f5;">
      <a href="/groups/"> <h3 style="color: #005FD7;">Groups</h3></a>
      <a href="/groups/"> <img src="../../img/pige.png" alt="" /></a>
    </div>

    <div class="imgbox" style="    background-color: #bbf5de;">
      <a href="/recycle/"> <h3 style="color: #00D77B;">Recycle</h3></a>

      <a href="/recycle/"> <img src="../../img/alb.png" alt="" /></a>
    </div>

    <div class="imgbox" style="    background-color: #ffedac;    ">
      <a href="/artist/"> <h3 style="color: #ffc52a;">Artist</h3></a>
      <a href="/artist/"> <img src="../../img/ring.png" alt="" /></a>
    </div>

    <div class="imgbox" style="    background-color: hsl(282, 71%, 86%);
    ">
      <a href="/other/"><h3 style="color: #9B13D7;">Other</h3></a>
      <a href="/other/"> <img src="../../img/arm.png" alt="" /></a>
    </div>
  </div>
</div>

<style>
  /*MOBIL*/
  .container {
    width: 245%;
    height: 488px;
    background: linear-gradient(295deg, rgba(249, 250, 194, 1) 10%, rgba(212, 250, 194, 1) 17%, rgba(212, 194, 250, 1) 35%, rgba(250, 194, 201, 1) 46%, rgba(250, 194, 201, 1) 52%, rgba(227, 205, 221, 1) 66%, rgba(195, 222, 247, 1) 79%, rgba(212, 250, 194, 1) 90%);
    align-items: center;
    justify-content: center;
    border: 4px solid #c5117d;
    border-radius: 50px;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    margin: 6%;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 6%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 4%;
    margin-top: 3%;
    margin-top: 41%;
    margin-left: 23px;
    margin-bottom: 9%;
  }

  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 /3;
    margin: 0 50px 5px 50px;
  }

  .imgbox {
    width: 100%;
    height: 368px;
    border-style: solid;
    border-color: #c5117d;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease;
  }

  .imgbox:hover img {
    width: 85%;
    transform: translateX(6%);
    margin-bottom: -20%;
  }

  img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 124%;
    transform: translateX(-6%);
    margin-bottom: -23%;
  }

  h1 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    font-size: 250%;
    white-space: nowrap;
    align-self: start;
    margin: 8px 59px;
  }

  h3 {
    transform: rotate(-20deg);
    display: flex;
    justify-content: center;
    margin: 21px 0;
    position: relative;
    z-index: 5;
    font-size: 178%;
  }

  .grid-circle {
    display: flex;
    column-gap: 3px;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: start;
    margin: 26px 35px;
  }

  .circle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #c5117d;
  }

  a {
    text-decoration: none;
  }
  .circle1 {
    background-color: #b1fef5; /* Color for the first circle */
  }

  .circle2 {
    background-color: #c8ffa7; /* Color for the second circle */
  }

  .circle3 {
    background-color: #ff6f9c; /* Color for the third circle */
  }

  /* TABLET */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
      width: 242%;
      height: 1049px;
      background: linear-gradient(295deg, rgba(249, 250, 194, 1) 10%, rgba(212, 250, 194, 1) 17%, rgba(212, 194, 250, 1) 35%, rgba(250, 194, 201, 1) 46%, rgba(250, 194, 201, 1) 52%, rgba(227, 205, 221, 1) 66%, rgba(195, 222, 247, 1) 79%, rgba(212, 250, 194, 1) 90%);
      align-items: center;
      justify-content: center;
      border: 6px solid #c5117d;
      border-radius: 50px;
      display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.1fr 1fr;
      margin: 6%;
      margin-top: 21%;
      margin-left: 70px;
      margin-bottom: 9%;
    }

    .gallery {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1 /3;
      margin: 0 50px 5px 50px;
    }

    .imgbox {
      width: 100%;
      height: 837px;
      border-style: solid;
      border-color: #c5117d;
      border-radius: 50px;
      overflow: hidden;
      position: relative;
      transition: width 0.3s ease;
      margin-bottom: 3%;
    }

    img {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 122%;
      transform: translateX(-6%);
      margin-bottom: -27%;
    }

    h1 {
      display: grid;
      grid-column: 1;
      grid-row: 1;
      font-size: 350%;
      white-space: nowrap;
      align-self: start;
      margin: 32px 62px;
    }

    h3 {
      transform: rotate(-20deg);
      display: flex;
      justify-content: center;
      margin: 44px 0;
      position: relative;
      z-index: 5;
      font-size: 354%;
    }

    .grid-circle {
      display: flex;
      column-gap: 3px;
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
      align-self: start;
      margin: 39px 43px;
    }

    .circle {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 7px solid #c5117d;
    }

    .circle1 {
      background-color: #b1fef5; /* Color for the first circle */
    }

    .circle2 {
      background-color: #c8ffa7; /* Color for the second circle */
    }

    .circle3 {
      background-color: #ff6f9c; /* Color for the third circle */
    }
  }

  /* WEB */

  @media only screen and (min-width: 1024px) {
    .container {
      width: 95%;
      height: 849px;
      background: linear-gradient(295deg, rgba(249, 250, 194, 1) 10%, rgba(212, 250, 194, 1) 17%, rgba(212, 194, 250, 1) 35%, rgba(250, 194, 201, 1) 46%, rgba(250, 194, 201, 1) 52%, rgba(227, 205, 221, 1) 66%, rgba(195, 222, 247, 1) 79%, rgba(212, 250, 194, 1) 90%);
      align-items: center;
      justify-content: center;
      border: 4px solid #c5117d;
      border-radius: 50px;
      display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.1fr 1fr;
      margin: 6%;
      margin-top: 6%;
      margin-bottom: 6%;
      margin-left: 6%;
      margin-top: 10%;
      margin-left: 37px;
      margin-bottom: 2%;
    }

    .gallery {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1 /3;
      margin: 0 50px 5px 50px;
    }

    .imgbox {
      width: 100%;
      height: 661px;
      border-style: solid;
      border-color: #c5117d;
      border-radius: 50px;
      overflow: hidden;
      position: relative;
      transition: width 0.3s ease;
      margin-bottom: 3%;
    }

    img {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 130%;
      transform: translateX(-9%);
      margin-bottom: -31%;
    }

    h1 {
      display: grid;
      grid-column: 1;
      grid-row: 1;
      font-size: 350%;
      white-space: nowrap;
      align-self: start;
      margin: 32px 62px;
    }

    h3 {
      transform: rotate(-20deg);
      display: flex;
      justify-content: center;
      margin: 44px 0;
      position: relative;
      z-index: 5;
      font-size: 354%;
    }

    .grid-circle {
      display: flex;
      column-gap: 3px;
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
      align-self: start;
      margin: 49px 43px;
    }

    .circle {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid #c5117d;
    }

    .circle1 {
      background-color: #b1fef5; /* Color for the first circle */
    }

    .circle2 {
      background-color: #c8ffa7; /* Color for the second circle */
    }

    .circle3 {
      background-color: #ff6f9c; /* Color for the third circle */
    }

    .imgbox:hover img {
      width: 100%;
    }

    .imgbox:hover {
      width: 200%;
    }
  }
</style>
